
<div class="tab-content" *ngIf="tag">
    <section widget class="widget" style="border-top-left-radius: 0;" id="{{tag.imei}}-overview" class="tab-pane active">
        <header>
            <h6> 
                <a routerLink="{{tagLink}}/{{tag.imei}}">{{tag.imei}}</a> - 
                <span *ngIf="tag.alarm" class="badge badge-danger">In alarm</span>
                <span *ngIf="!tag.alarm" class="badge" [ngClass]="{'badge-success' : tag.lastEventReceivedUtc, 'badge-info' : !tag.lastEventReceivedUtc}"> {{tag.lastEventReceivedUtc ? 'Active' : 'Initialising'}}</span>
                <span class="badge badge-primary" *ngIf="tag.isNew">New</span>
            </h6>
        </header>
        <div class="widget-body">
            <div class="stats-row">
                <div class="stat-item" *ngIf="tag.siteId">
                    <h6 class="name">Site</h6>
                    <p class="value">{{tag.siteId}}</p>
                </div>
                <div class="stat-item" *ngIf="tag.latitude && tag.longitude">
                    <h6 class="name">GPS</h6>
                    <p class="value">({{tag.latitude}},{{tag.longitude}})</p>
                </div>
                <div class="stat-item">
                    <h6 class="name">Last health check</h6>
                    <p class="value" *ngIf="tag.lastEventReceivedUtc">{{tag.eventReceivedAsString ? tag.eventReceivedAsString : 'Unknown'}}</p>
                    <p class="value" *ngIf="!tag.lastEventReceivedUtc">Unknown</p>
                </div>
            </div>
            <div class="progress progress-xs progress-bar-danger">
                <div class="progress-bar progress-bar-danger" style="width: 100%;"></div>
            </div>
            <div class="stats-row">
                <div class="stat-item">
                    <h6 class="name">Voltage</h6>
                    <p class="value">{{tag.voltage ? tag.voltage : 'N/A'}}</p>
                </div>
                <div class="stat-item">
                    <h6 class="name">Temperature</h6>
                    <p class="value">{{tag.temperature ? tag.temperature : 'N/A'}}</p>
                </div>
                <div class="stat-item">
                    <h6 class="name">Light</h6>
                    <p class="value">{{tag.lightSensor ? tag.lightSensor : 'N/A'}}</p>
                </div>
            </div>
        </div>
    </section>
</div>