<section class="widget" *ngIf="tags">
    <header>
        <h4>{{title}}</h4>
    </header>
    <div class="body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="hidden-xs">Imei</th>
                <th></th>
                <th>Last health check</th>
                <th>GPS</th>
                <th class="hidden-xs">Site</th>
                <th class="hidden-xs">Voltage</th>
                <th class="hidden-xs">Temperature</th>
                <th class="hidden-xs">Light</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tag of tags; let i = index;">
                <td class="hidden-xs"><a href="{{tagLink}}/{{tag.imei}}">{{tag.imei}}</a></td>
                <td *ngIf="tag.alarm"><span class="badge badge-danger">In Alarm</span></td>
                <td *ngIf="!tag.alarm"><span class="badge" [ngClass]="{'badge-success' : tag.lastEventReceivedUtc, 'badge-info' : !tag.lastEventReceivedUtc}"> {{tag.lastEventReceivedUtc ? 'Active' : 'Initialising'}}</span></td>
                <td>
                    {{tag.eventReceivedAsString ? tag.eventReceivedAsString : 'Unknown'}}
                </td>
                <td class="hidden-xs">
                    <p class="no-margin">
                        <small>
                            <span class="fw-semi-bold">Latitude: </span>
                            <span class="text-muted">{{tag.latitude}}</span>
                        </small>
                    </p>
                    <p>
                        <small>
                            <span class="fw-semi-bold">Longitude: </span>
                            <span class="text-muted">{{tag.longitude}}</span>
                        </small>
                    </p>
                </td>
                <td class="hidden-xs text-muted">
                    {{tag.siteId}}
                </td>
                <td class="hidden-xs text-muted">
                    {{tag.voltage ? tag.voltage : 'N/A'}}
                </td>
                <td class="hidden-xs text-muted">
                    {{tag.temperature ? tag.temperature : 'N/A'}}
                </td>
                <td class="hidden-xs text-muted">
                    {{tag.lightSensor ? tag.lightSensor : 'N/A'}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>