<div class="col-md-12">
    <h3 class="page-title" *ngIf="showTitle">{{title}} <span class="fw-semi-bold"> {{titleBold}}</span></h3>
</div>
<div class="col-md-12" style="margin-bottom: 4em;">
    <div *ngIf="totalResults > 0 && maxPage !== 1">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-primary" data-toggle="dropdown" type="button">Show {{currentPageSize}} per page<i class="fa fa-chevron-down" style="padding-left: 5px;"></i></button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" on-click="updateTotalResultsToDisplay(10)">10</a></li>
                    <li><a class="dropdown-item" on-click="updateTotalResultsToDisplay(20)">20</a></li>
                    <li><a class="dropdown-item" on-click="updateTotalResultsToDisplay(30)">30</a></li>
                    <li><a class="dropdown-item" on-click="updateTotalResultsToDisplay(50)">50</a></li>
                </ul>
            </div>
        </div> 
        <div class="screen-layout-options">
            <i class="fa fa-th" [ngClass]="{'active' : gridView}" (click)="tagView('grid')"></i>
            <i class="fa fa-bars" [ngClass]="{'active' : tableView}" (click)="tagView('table')"></i>
        </div>
    </div>
    <div class="pagination-group" *ngIf="pagination && pagination.pages && pagination.totalPages > 1 && showPagination"> 
        <ul class="pagination pagination-sm pagination-search-result">
            <li (click)="search(currentPage - 1)" *ngIf="currentPage !== 1"><a class="active">Previous</a></li>
            <li *ngFor="let item of pagination.pages; let i = index; last as isLast;" (click)="search(i + 1)">
                <a class="active" [ngClass]="{'current-page' : currentPage == item}">{{item}}</a>
            </li>
            <li (click)="search(currentPage + 1)" *ngIf="currentPage !== pagination.totalPages"><a class="active">Next</a></li>
        </ul>
    </div>
</div>
 
<div class="col-md-12">
    <div class="row" *ngIf="tableView">
        <div class="col-md-12">
            <tag-table-summary [tags]="tags" [title]="Active" [tagLink]="tagLink"></tag-table-summary>
        </div>
    </div>
    <div class="row" *ngIf="gridView">
        <div class="col-md-6" style="margin-bottom: 2em;" *ngFor="let tag of tags" >
            <tag-grid-view [tag]="tag" [tagLink]="tagLink"></tag-grid-view>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="pagination-group" *ngIf="pagination && pagination.pages && pagination.totalPages > 1 && showPagination"> 
        <ul class="pagination pagination-sm pagination-search-result">
            <li (click)="search(currentPage - 1)" *ngIf="currentPage !== 1"><a class="active">Previous</a></li>
            <li *ngFor="let item of pagination.pages; let i = index; last as isLast;" (click)="i + 1)">
                <a class="active" [ngClass]="{'current-page' : currentPage == item}">{{item}}</a>
            </li>
            <li (click)="search(currentPage + 1)" *ngIf="currentPage !== pagination.totalPages"><a class="active">Next</a></li>
        </ul>
    </div>
</div>
