.screen-layout-options{
    float: left;
    color: #fff;
    background-color: rgba(0,0,0,.31);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 10px;
  }
  
  .screen-layout-options i {
    font-size: 2em;
    margin: 2px;
    &:hover {
      cursor: pointer;
      color: rgba(0,0,0,.31);
    }
  }
  
  .active {
    color: rgba(0,0,0,.31);
  }

  .pagination { 
    display: inline-block;
    padding-left: 0;
    border-radius: 3px;
    font-weight: 400;
    color: white;
}


.pagination-search-results li a{
  background-color: #5D6B7A;
}

.pagination-search-result li a {
  color: #f8f8f8;
  border-radius: 3px;
  margin: 0 2px;

  &:hover {
    background: rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }
}

.current-page {
  background: rgba(0, 0, 0, 0.24);
}

.pagination-group{
  float: right;
}

.pagination-sm li a {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.totalResults {
  font-weight: 400;
  font-size: 1rem;
}

.dropdown-menu{
  background-color: #fff;
}

.dropdown li a {
  color: #666;
  font-size: 1rem;
  &:hover {
    color: #fff;
    font-weight: 300;
  }
}

.btn-group {
  float: left;
}

.dropdown-menu li a {
  color: #666;
  font-size: 1rem;
  &:hover {
    color: #fff;
    font-weight: 300;
  }
}

.dropdown-item {
  background-color: #fff;
  color: #666;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  &:hover {
    background-color: #8ec5fd;
    color: #fff;
  }

  .span .totalResults {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
  }
}