<section widget class="widget large" *ngIf="notifications">
    <header *ngIf="title">
        <h4>{{title}}</h4>
    </header>
    <div class="body" style="margin-top: 1em;">
        <div class="scroll">
            <div id="feed" class="feed">
                <div class="wrapper">
                    <div class="vertical-line"></div>
                    <section class="feed-item" *ngFor="let notification of notifications">
                        <div class="icon pull-left">
                            <i class="fa fa-heartbeat" *ngIf="notification.type == 'healthCheck'"></i>
                            <i class="fa fa-battery-quarter" style="color: red;" *ngIf="notification.type == 'lowBattery'"></i>
                            <i class="fa fa-bell" *ngIf="notification.type == 'inAlarm'"></i>
                            <i class="fa fa-thermometer-three-quarters" style="color: red;" *ngIf="notification.type == 'highTemperature'"></i>
                            <i class="fa fa-location-arrow" *ngIf="notification.type == 'motionDetected'"></i>
                            <i class="fa fa-check" style="color: green;" *ngIf="notification.type == 'registered'"></i>
                        </div>
                        <div class="feed-item-body">
                            <div class="text" *ngIf="notification.message">
                                <a href="/app/main/area/{{notification.imei}}">{{notification.message}}</a>
                            </div>
                            <div class="time pull-left" *ngIf="notification.createdDate">
                                {{notification.createdDate}}
                            </div>
                        </div>
                    </section>
                    <section class="feed-item" *ngIf="totalResults > notifications.length">
                        <div class="icon pull-left">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                        <div class="feed-item-body">
                            <div class="text">
                                <a class="more-results" (click)="loadMoreResults()">Load more...</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="slimScrollBar"></div>
            <div class="slimScrollRail"></div>
        </div>
    </div>
</section>