.scroll {
    position: relative; 
    overflow: hidden; 
    width: auto; 
    height: 230px;
}

.feed {
    overflow: hidden; 
    width: auto; 
    padding: 0;
    height: 230px;
}

.more-results {
    color: #fff;
    &:hover {
        background: rgba(0, 0, 0, 0.24);
        cursor: pointer;
      }
}